/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Global
 */
body {

  /* disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* disable I-beam cursor over text */
  cursor: default;

  width: 1366px;
  height: 768px;
  overflow: hidden;
  background: #000;
  color: #000;

}

#wrapper {

  width: 1366px;
  height: 768px;
  overflow: hidden;
  background: #303030;

}
.screen {

  width: 1366px;
  height: 768px;
  overflow: hidden;

}
.container {
  position: absolute;
}

.h-bar {
  width: 100%;
}

/* Buttons */
[data-role="button"] {
  cursor: pointer;
}

/*Fonts*/
p, h3, h2, h1, span {
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
  line-height: 1.2em;
  letter-spacing: 0.015em;
}

.es {
  color: #4C272A;
}

h1 {
  font-family: 'futurats-demiboldregular', Helvetica, sans-serif;
  font-size: 34px;
}

h1.es {
  font-size: 30px;
}

h2 {
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

h2.es {
  font-size: 22px;
}

h2 span.roman {
  font-style: normal;
}

h3 {
  font-family: 'futurats-mediumregular', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
}

p {
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
  font-size: 24px;
}

p.es {
  font-size: 21px;
}

p .smaller {
  font-size: 20px;
}

p.es .smaller {
  font-size:20px;
}

#intro_container h1.en,
#intro_container h1.es,
#intro_container h2.en,
#intro_container h2.es {
  line-height: 1em;
}

#intro_container h1 {
  font-size: 44px;
  font-style: normal;
  line-height: 1em;
}


#intro_container h1.es {
  font-size: 38px;
}

#intro_container h2 {
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  line-height: 1.2em !important;
}

#intro_container h2.es {
  font-size: 24px;
}

#intro_container p {
  font-family: 'futurats-lightregular', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 19px;
}

#intro_container .es p {
  font-size: 19px;
}

.content-right{
  position: absolute;
  right: 0px;
  width: 443px;
  height: 100%;
  background-color: #E2D9C2;
  box-shadow: -5px -3px 15px rgba(22,22,22,0.3);
}

.content-right h1,
.content-right h2,
.content-right p {
  margin-right: 40px;
  margin-left: 40px;
}

.content-right h1 {
  margin-top:15px;
  margin-bottom: 0px;
}

.content-right h1.en {
  margin-top:30px;
}

.content-right h1.es {
  margin-top:30px;
  margin-bottom: 0px;
}

.content-right #common_name.es {
  margin-top: 0px;
  margin-bottom: 20px;
}

.content-right h2#scientific_name {
  margin-top: -15px;
  margin-bottom: 40px;
}

.content-right h2.en {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-right h2.es {
  margin: 11px 40px 0px 40px;
}

.content-right p {
  margin: 35px 40px 0px 40px;
}

.content-right .es p {
  margin: 35px 40px 20px 40px;
}


/*Glyphs*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../css/fonts/glyphicons-halflings-regular.eot');
  src: url('../css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../css/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../css/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-remove:before {
  content: "\e014";
}
.rotate-90-cw {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rotate-90-ccw {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Main Screen */
#screen_main {

  background-color: #004a80;
  /*background-color: #132D33;*/
}

/* Left-side content */
.content-left{
  position: absolute;
  top: 0px;
  left: 0px;
}

#main_nav img,
#main_nav svg {
  position: absolute;
  left: 50px;
  top: 10px;
}
#main_nav button {
  margin: 5px;
}


/* Voronoi SVG - Uncomment for debugging */
/*#main_nav polygon{
  fill: rgba(210,255,220, 0.2);
  stroke:#444;
  stroke-width:1;
}
#main_nav svg circle {
  stroke:#f00;
  stroke-width:2;
  fill:#fff;
}
#main_nav polygon:hover {
  fill: rgba(222,244,233, 0.7);
}
#main_nav polygon:active {
  fill: rgba(235,245,235, 0.8);
}*/

#home_bar {

  /*box-shadow: 0px -3px 4px rgba(44,44,44,0.4);*/
  position: fixed;
  height: 70px;
  bottom: 0px;
  text-align: center;
  background: #08292F;
  color: white;

}

#home_bar span {

  font-size: 44px;
  margin-top: 11px;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
